@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@500&family=Mulish&family=Noto+Sans&family=Outfit&family=Poppins&family=Raleway:wght@300;400;600&family=Special+Elite&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Outfit , sans-serif;
}